.App {
  padding-top: 150px;
  text-align: center;
  background-color: black;
  height: calc(100vh - 150px);
  /*height: 400px;*/
}

/*.left-panel{
  width: 40%;
  display: inline-block;
  float: left;
  margin-left: 20px;
  height: 400px;
}

.right-panel{
  width: 50%;
  display: inline-block;
  float: right;
  margin-right: 20px;
}*/

.panel{
  width: 800px;
  display: inline-block;
  height: 400px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
