.container{
	width: 800px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	width: 90%;
	height: 90%;
}


.container canvas{
	position: absolute;
	width: 90%;
	height: 90%;
}